{% extends "base.html" %}

{% block title %}
    <title>about | Darko Novak</title>
{% endblock title %}

{% block content %}
<link href="/static/css/about_style.css" rel="stylesheet">

<div class="container-fluid">
    <br>

    <img src="/static/img/IMG_0092.jpg" class="center" ale="jpg" width="200" height="200"
         style="border-radius: 50%">

    <br>
    <br>

    <p>My name is Darko. I'm 38 years old, and after many years of thinking about it I finally decided to go into world of
        web developing/programming.
        It's like someone said, all you need to do is, that you start. Well it's not as simple as it sounds,
        but it is like every other work or hobby, if you won't start you won't know how it is or if it is for you or
        not.
        Before web develping/programming I had another hobby, which I had to
        give it up for health reasons. More you can see and read on <a href="/my_other_hobby">here</a>.</p>
</div>

<br>
<div class = "links">
    <a href="/">Back</a>
</div>
<div class = "main"></div>
{% endblock content %}

