{% extends "base.html" %}

{% block title %}
    <title>hire | Novak Darko</title>
{% endblock title %}

{% block content %}
<link href="/static/css/hire.css" rel="stylesheet">

    <form method="post" action="/hire">
        <div class="mb-3 mt-3">
            <h1>Get in touch</h1>

            <br>

            <input type="text" class="form-control" placeholder="Your name">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="Your message"></textarea>
        </div>

        <button class="btn btn-light" type="submit">Submit</button>
    </form>

{% endblock content %}