{% extends "base.html" %}

{% block title %}
    <title> portfolio | Darko Novak</title>
{% endblock title %}

{% block content %}
<link href="/static/css/portfolio.css" rel="stylesheet">

    <div class = "main">

        <h1>Portfolio</h1>

    </div>
<p>Here you can see my first steps into web developing <img src="/static/img/3561858_emoji_emoticon_emotion_face_happy_icon.png"
                                                            style="height: 20px; width: 20px;"> </p>
    <div class = "links">
        <a href="/home">Home</a>
        <a href="/portfolio/boogle" target="_blank">Boogle</a>
        <a href="/portfolio/fakebook" target="_blank">Fakebook</a>
        <a href="/portfolio/hairsalon" target="_blank">Hairsalon</a>
    </div>
{% endblock content %}